@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&family=Montserrat&family=Poppins:wght@600&display=swap');

.top{
    background: #e7ecef;
}

nav{
    background: #274c77;
    color: white;
}

.social{
    margin: 0.5rem;
    margin-bottom: 0rem;
    width: 2.5rem;
}

.banner{
    text-align: center;
    background-image: url(imagenes/Banner.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #000;
    font-weight: 900;
}

.divBanner{
    width: 40rem;
    margin: auto;
    height:4rem
}

h1{
    padding-left:0.5em;
    font-family: 'Averia Serif Libre', cursive;
}

h2{
    font-family: 'Averia Serif Libre', cursive;
}

.insideBanner{
    padding: 12rem;
}

.about{
    text-align: center;
    background: #c0c0c0;
    padding: 2rem;
}

.profile{
    width: 90%;
    border-radius: 50%;
    margin: 1rem;
    padding: 0;
    border: 0.5rem solid;
    border-color: #8b8c89;
    margin-left: auto;
    margin-right: auto;
}

.left{
    text-align: justify;
}

.ab{
    margin: 1rem;
    margin-left: 1rem;
}

#Studies{
    text-align: center;
    padding: 2rem;
    background: #495057;
    color: #fff
}

#Experience{
    text-align: center;
    padding: 2rem;
    background: #c5c3c6;
}

#Projects{
    text-align: center;
    padding: 2rem;
    background: #dee2ff;
}

#More{
    text-align: center;
    padding: 2rem;
    background: #c5c3c6;
}

#interests{
    text-align: justify;
}

.university{
    width: 10rem;
}

.social:hover{
    border-color: white;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
}

.botModal{
    width:15rem;
    height:15rem;
    border-radius: 50%;
    background: #274c77;
    border: none;
    box-shadow: 0 1em 2em 0 rgba(85, 85, 85, 0.2), 0 1em 2em 0 rgba(0, 0, 0, 0.5);
}

.title{
    padding-top: 0.5rem;
    font-family: 'Averia Serif Libre', cursive; 
}

.botModal:hover{
    border-color: white;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
}

.caption{
    color:#000
}

.moda{
    width: 9rem;
}

.uni{
    color: #000;
}

footer{
    padding-top: 1em;
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center
}

.study{
    margin-bottom: 2rem;
}

.link{
    padding: 0.5rem;
}

.link:hover{
    border-radius: 30%;
    background: white;
}

.experience{
    margin: 2rem
}

.checked {
    color: orange;
}

.Strenghts{
    border: solid;
    border-color:#274c77;
    text-align: center;
    padding: 1rem;
    border-radius: 30%;
    margin-top: 2rem;
}