@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Courier+Prime&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav{
    background: #322C5C;
}

nav{
    color: #FFFFFF;
    font-family: 'Courier Prime', monospace;
}

nav li{
    font-size: 120%;
    display: inline;
    padding-right: 1em;
}

li a{
    text-decoration: none;
    color: #FFFFFF;
}

nav li:hover{
    font-size: 150%;
    text-decoration: underline;
}

li a:hover{
    color: #FFFFFF;
}

#name{
    width: 1em;
    font-size: 150%;
}

#name:hover{
    font-size: 150%;
}

#intro{
    background: url('imagenes/tragic\ darkness.png') no-repeat; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    padding-top: 15em;
    padding-bottom: 15em;
    height: 100%;
    filter:opacity(80%)
}

.Frase{
    background: rgba(255, 255, 255, 0.9);
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

.Frase h1{
    font-size: 300%;
    padding: 1em 1em;
}


#about_me{
    background: #E6A179;
    padding-bottom: 5%;
}

.info .about_info{
    position: relative;
    background: white;
    width: 70%;
    height: 110%;
    top: -5em;
    right: -15em;
    margin-bottom: 10em;
}

.about_info img{
    position: relative;
    top: 2em;
    right: 15em;
    float: left;
}

.about_moi{
    position: relative;
    right: 11em;
    top: 5em;
    width: 110%;
    height: fit-content;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

.about_moi h1{
    font-size: 5em;
}

#work_experience{
    filter:opacity(80%);
    background: url('imagenes/ImageSphere.png') no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
}

.work{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Courier Prime', monospace;
    padding: 1em;
    width: 120%;
    height: 100%;
} 

.work .left{
    opacity: 80%;
    position: relative;
    top: 3em;
    right: 3em;
    width: 130%;
}

.work .right{
    opacity: 80%;
    position: relative;
    top: 3em;
    left: 0.1em;
    width: 130%;
}

.work p{
    position: relative;
    top: 2em;
    text-align: left;
}

.work h1{
    text-align: center;
    font-size: 4em;
}

.main_skills .col{
    background-color: #322C5C;
}

.skills{
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    width: 90%;
    margin-top: 5em;
    text-align: center;
    border-radius: 15px;
    padding: 5%;
}

.skills span{
    font-size: 2em;
}

.main_skills img{
    width: 105%;
}