/*El CSS está ordenado y consistente. Se pondrían poner comentarios para mostrar de que sección son las reglas.
  El CSS también está validado (ValidacionCSS.png) y no tiene errores. */
*{
    margin: 0%;
}

body{
    background-color: #F2B00C;
}

section{
    margin: 0;
    background-color: #EAE8DB;
}

nav{
    background-color: #E8450C;
    padding: 1rem;
    margin: 0;
}

nav a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20%;
    color: #FFF;
    font-family: sans-serif;
}

nav a:hover{
    color: #7594EB;
    text-decoration:wavy;
}
h1{
    font-family: 'Pangolin', cursive;
    font-weight: bolder;
    padding: 0px 2rem 2rem;
    text-align: center;
}

.center{
    text-align: center;
}

#profile{
    border-radius: 50%;  
}

.social:hover{
    border-color: wheat;
    border-style: solid;
    border-width: 1rem;
}

.social{
    border-radius: 50%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#AboutMe{
    background-color: #EAE8DB;
    padding: 3em;
    margin: 0;
}
#AboutMe p{
    text-align: center;
}

.carr{
    width: 20%;
}

.restaurapp{
    padding: 2em;
    background-color:tomato;
    text-align: center;
    padding-top: 2em;;
    margin-left: 20%;
    margin-right: 20%;
}
#PersonalProjects{
    background-color: #EAE8DB;
    padding: 2em;
    margin: 0;
}

.VidaPersonal{
    background-color: #EAE8DB;
    padding: 2em;
    margin: 0;
}

.Estudios{
    background-color: #EAE8DB;
    padding: 1em;
    margin: 0;
}

footer{
    text-align: center;
}
footer p{
    margin: 0rem;
}

.title{
    font-family: 'Pangolin', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
}

.boton{
    margin:0.2rem;
}

.boton:hover{
    border-style: solid;
    border-width: 0.3rem;
    background-color:tomato;
    border-color: #EAE8DB;
}
